<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectDBConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.11)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=zcycuser01;Password=zcycu001"/>
    <add key="MMSDBConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.11)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=zcycuser01;Password=zcycu001"/>
    <!--<add key="UserDBConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.11)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=zcycuser01;Password=zcycu001"/>-->
    <add key="OracleUserDBConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User ID=c##zcycuser01;Password=zcycu001"/>
    <!--这个是sqlite的链接字符串-->
    <!--<add key="UserDBConnStr" value="Data Source={filename};"/>-->
    <!--下面链接字符串是 mysql / mariadb 的链接字符串-->
    <add key="UserDBConnStr" value="Server=localhost;Port=3306;Database=wl_account_db;Uid=wlaccountuser;Pwd=wl258;"/>
  </appSettings>
</configuration>