
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index1111111111111";
}

<h2>Index222222222</h2>

<div id="components-demo">
    <button-counter></button-counter>
    <h3>===============</h3>
    <b-c></b-c>
</div>
<div id="my-c-box" class="hidden"></div>


<h3>-----------------</h3>



@section Scripts{
    <script>
        //$('#my-c-box').load("~/lib/component/my_component.vue");
        Vue.component('button-counter', {
            template: '#button-counter-template',
            data: function () {
                return {
                    title: "-TITLE-",
                    count: 0
                }
            }
        });

        var BC = {
            template: '#bc-template',
            data: function () {
                return {
                    title: "-TITLE-",
                    count: 0
                }
            }
        };
    </script>
    <script type="text/x-template" id="button-counter-template">
        <button v-on:click="count++">You clicked me {{ count }} times.【{{title}}】1111</button>
    </script>
    <script type="text/x-template" id="bc-template">
        <button v-on:click="count++">You clicked me {{ count }} times.【{{title}}】2222</button>
    </script>
}